.layout {
    height: 100vh;
    background-color: #fff;
    color: #0A283E;
    padding: 20px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.title {
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: relative;
    padding: 0 50px;
    box-shadow: 0 2px 3px rgb(0,0,0,0.1);
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.producto {
    min-height: 430px;
    border: solid 1px #eee;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.img {
    width: 100%;
}

.botonComprar {
    color: #fff;
    background-color: #01530c;
    font-size: smaller;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botonComprar:hover {
    background-color: #007a10d7;
}

.botonCarrito {
    color: #01530c;
    font-size: smaller;
    font-weight: 600;
    background-color: #ffffff;
    border: solid 2px #01530c;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
}

.botonCarrito:hover {
    color: #fff;
    background-color: #007a10d7;
    border: solid 2px #007a10d7;
}

.botonCarrito:active, .botonComprar:active {
    transform: scale(0.9);
}

.logo {
    font-weight: 700;
    font-size: 2rem;
}

.containerButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.botonNavCarrito {
    color: #0c7a1b;
    background-color: #fff;
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.botonNavCarrito:hover {
    color: #349734c7;
}

.detallesCarrito {
    background-color: #fff;
    position: absolute;
    margin-top: 30px;
    box-shadow: 1px 5px 5px rgb(0,0,0,0.3);
    border-radius: 5px;
    width: 300px;
    right: 50px;
}

.badge {
    position: relative;
    left: 30px;
    top: -25px;
}

.badgeAlert {
    background-color: #d80e00;
    border-radius: 15px;
    color: #fff;
    padding: 2px 8px;
    font-size: 0.9rem;
    width: 20px;
}

.ul {
    margin: 0;
    padding: 0;
}

.li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-bottom: solid 1px #aaa;
}

.price {
    color: #333;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.spanPrice {
    font-size: 10pt;
}

.spanSign {
    color: #01530c;
    font-weight: 800;
}